/* login.css */
.form {
    /* Estilos proporcionados para el formulario */
    display: flex;
    flex-direction: column;
    margin-top: 130px;
    align-items: center;
    justify-content: center;
    width: 410px;
    height: 400px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    transform: rotateX(20deg);
  }
  
  /* Estilos adicionales para el formulario de inicio de sesión */
  .form h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
    width: 340px;
    height: 75px;
  }
  
  .input-image img {
    display: flex;
    height: 35px;
    width: 35px;
    margin-right: 15px;
  }
  
  .input-order {
    display: flex;
    flex-direction: row;
  }
  
  .input-order input {
    display: flex;
    flex-direction: row;
    width: 420px;
    border: 0.5px solid rgb(181, 187, 187);
    height: 37px;
    border-radius: 5px;
  }
  
  /* Estilos para pantallas medianas */
  @media (max-width: 768px) {
    .form {
      display: flex;
      position: relative;
      bottom: 30px;
      left: 10px;
      width: 300px;
    }
    .input-order {
      width: 250px;
    }
    .form-group {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
  }
  
  /* Estilos para pantallas pequeñas */
  @media (max-width: 576px) {
    .form {
      width: 400px;
    }
  }