.cotizacion {
  display: flex;
  padding: 10px;
  width: 550px;
  height: 650px;
  font-size: 16.5px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  transform: rotateX(10deg);
  transition: transform 0.5s ease-in-out;
  overflow: auto;
}
.cotizacion textarea {
  height: 60px;
  overflow-y: auto;
  font-size: small;
}

.cotizacion label {
  font-size: 15px;
}

.cotizacion input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 13px;
}

.cotizacion select {
  height: 40px;
  font-size: small;
}

.titulo-coti {
  font-size: 30px;
  background: -webkit-linear-gradient(rgb(7, 199, 205), rgb(13, 85, 174));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.archivo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.resultado-cotizacion {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.botones {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-direction: row;
}

.contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nueva-cotizacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nota {
  font-size: 14px;
}

.resultado {
  display: none;
}

.calculadora {
  display: flex;
  align-items: center;
  gap: 60px;
  position: relative;
  overflow: hidden;
}

/* Clase para mostrar el resultado */
.resultado-visible {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 500px;
  height: 360px;
  font-size: 16.5px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  transform: rotateX(0);
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  opacity: 1;
}
.archivo{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: blue;
  font-size: small;
}
