.dashboard-content {
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 100%;
}
.container{
  padding-left: 0;
  padding-right: 0;
  max-width: none!important;
}
.columns {
  width: 100%;
}
.column{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}