.logo{
  display: flex;
  width: 120px;
  height: 70px;
  padding-bottom: 20px;
}
.navbar-brand{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-left: 15px;
}
/* Alinear la burger del lado izquierdo */
.navbar-toggler {
  order: -1;
}

/* Agregar fondo transparente al contenido desplegado de la burger */
.navbar-burger .navbar-collapse {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
}
.navbar-brand-2{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-left: 15px;
}
.navbar-header-2{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 2px solid black;
  width: 100%;
}
.container-fluid{
  display: flex;
  flex-direction: row;
}
