.work-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 95%;
  height: 100vh;
  padding-left: 10px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 140px;
}
.work-container h1 {
  font-size: 2.3rem;
  margin-bottom: 10px;
}
.work-container p {
  font-size: 1rem;
  line-height: 1.5;
}
.title-work {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0px;
    background: -webkit-linear-gradient(rgb(7, 199, 205),rgb(13, 85, 174));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* Estilos para el Paso 1 */
.paso-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 250px;
    text-align: justify;
    margin-bottom: 30px;
  }
  
.paso-1-title {
  display: flex;
  width: 420px;
  font-size: 25px;
  align-items: center;
  justify-content: flex-start;
  background: -webkit-linear-gradient(rgb(7, 205, 40),rgba(5, 98, 39, 0.977));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.text-paso-1{
  display: flex;
  width: 400px;
  padding: 10px;
  margin-right: 40px;
  border: 1px solid rgb(181, 187, 187);
  border-radius: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  transform: rotateX(20deg);
  }
.charla{
  display: flex;
  width: 200px;
  height: 150px;
  margin-left: 120px;
  transition: transform 0.3s ease; /* Agregamos la transición para suavizar el efecto */
  cursor: pointer; /* Cambiamos el cursor para indicar que es interactivo */
}

.charla:hover {
  transform: scale(1.2); /* Hacemos que crezca en un 20% cuando se pase el cursor */
}

.paso1-division{
  display: flex;
  flex-direction: column;
}

/* Estilos para el Paso 2 */
.paso-2 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 250px;
  text-align: justify;
  margin-bottom: 30px;
}
.paso2-division{
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}
.paso-2-title {
  display: flex;
  width: 420px;
  font-size: 25px;
  align-items: flex-start;
  justify-content: flex-start;
  background: -webkit-linear-gradient(rgb(7, 199, 205),rgb(13, 85, 174));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.text-paso-2{
  display: flex;
  width: 400px;
  padding: 10px ;
  border: 1px solid rgb(181, 187, 187);
  border-radius: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  transform: rotateX(20deg);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.profesional{
  display: flex;
  width: 200px;
  height: 170px;
  margin-right: 100px;
  transition: transform 0.3s ease; /* Agregamos la transición para suavizar el efecto */
  cursor: pointer; /* Cambiamos el cursor para indicar que es interactivo */
}
.profesional:hover {
  transform: scale(1.2); /* Hacemos que crezca en un 20% cuando se pase el cursor */
}
.paso-3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 250px;
  text-align: justify;
  margin-bottom: 30px;
}
.text-paso-3{
  display: flex;
  flex-direction: row;
  width: 400px;
  padding: 10px ;
  border: 1px solid rgb(181, 187, 187);
  border-radius: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  transform: rotateX(20deg);
}
.paso-3-title {
  display: flex;
  font-size: 25px;
  width: 420px;
  align-items: flex-start;
  justify-content: flex-start;
  background: -webkit-linear-gradient(rgba(141, 42, 202, 0.631),rgb(72, 5, 117));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.paso3-division{
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}
.negocio{
  display: flex;
  width: 200px;
  height: 170px;
  margin-left: 140px;
  transition: transform 0.3s ease; 
  cursor: pointer; 
}
.negocio:hover {
  transform: scale(1.2); 
}
/* Estilos para el Paso 4 */
.paso-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
  padding-top: 20px;
}
.paso-4-title{
  display: flex;
  font-size: 25px;
  width: 420px;
  align-items: center;
  justify-content: center;
  background: -webkit-linear-gradient(rgb(192, 24, 24),rgb(110, 2, 2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-paso-4{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 180px;
  padding-top: 12px ;
  height: 60px;
  border: 1px solid rgb(181, 187, 187);
  border-radius: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  transform: rotateX(20deg);
}
